{% case guide %}
    {% when 'Ryan' %}
        {%- capture guide_name -%}Ryan Dyar{%- endcapture -%}
        {%- capture instagram_handle -%}ryandyar{%- endcapture -%}
        {%- capture five00px_handle -%}ryandyar{%- endcapture -%}
        {%- capture guide_title -%}Workshop Leader{%- endcapture -%}
        {%- capture guide_pic -%}{{guide | downcase }}.jpg{%- endcapture -%}
        {%- capture bio -%}
            Ryan is a professional nature photographer hailing from the Pacific Northwest. In his 15 years of photography, his passion has been photography unique weather and light over beautiful landscapes across the world. Specializing in teaching photography, he helps tour guests with not only in-depth field technique, but also in creative and distinctive post processing.
        {%- endcapture -%}
    {% when 'Steve' %}
        {%- capture guide_name -%}Steve Saviano{%- endcapture -%}
        {%- capture instagram_handle -%}skyscape2020{%- endcapture -%}
        {%- capture five00px_handle -%}ryandyar{%- endcapture -%}
        {%- capture guide_title -%}Lead Forecaster{%- endcapture -%}
        {%- capture guide_pic -%}{{guide | downcase }}.jpg{%- endcapture -%}
        {%- capture bio -%}
        Steve Saviano is the lead forecaster and founder of skyscape photo tours. He is educated in meteorology and has had a life long interest in thunderstorms and their associated phenomena. With over 20 years of storm chasing experience, Steve has developed the ability to consistently place his tour guests in prime position to photograph the spectacular storms that occur across the great plains.
        {%- endcapture -%}
    {% when 'Miles' %}
        {%- capture guide_name -%}Miles Morgan{%- endcapture -%}
        {%- capture instagram_handle -%}milesmorganphotography{%- endcapture -%}
        {%- capture five00px_handle -%}milesmorganphotography{%- endcapture -%}
        {%- capture guide_title -%}Workshop Leader{%- endcapture -%}
        {%- capture guide_pic -%}{{guide | downcase }}.jpg{%- endcapture -%}
        {%- capture bio -%}
            As an airline pilot, Miles has developed a strong understanding of all types of weather. That knowledge directly translates into creating some of the most unique looking imagery in world of nature photography filled with gorgeous light and fascinating weather. His charismatic personality keeps our trips light hearted and fun, but his talent behind a camera helps tour guests ensure they are making the best images possible.
        {%- endcapture -%}
    {% when 'Bruce' %}
        {%- capture guide_name -%}Bruce Omori{%- endcapture -%}
        {%- capture instagram_handle -%}bruceomori{%- endcapture -%}
        {%- capture five00px_handle -%}bruceomori{%- endcapture -%}
        {%- capture guide_title -%}Workshop Leader{%- endcapture -%}
        {%- capture guide_pic -%}{{guide | downcase }}.jpg{%- endcapture -%}
        {%- capture bio -%}
        Bruce is an international award-winning photographer and photojournalist based in Hilo, Hawai‘i, renowned for capturing the terrifying yet beautiful nature of lava.  His images have been featured in the Smithsonian National Museum of Natural History in Washington DC, and the Natural History Museum in London, and have also been published in just about every major newspaper and magazine across the globe.  What began as a healthy fear of volcanoes as a kid, because of being asthmatic and allergic to sulfur, turned into a lifelong obsession!  After learning how to mitigate the elements of risk, documenting this fiery force of nature has become his life’s work.  And now, in addition to shooting eruptive activity, Bruce has become obsessed with the convective… STORMS!  Learn how to document and communicate effectively through your photography!
        {%- endcapture -%}
    {% else %}
    <h1>Do nothing</h1>
{% endcase %}


<div class="guide-container {% if abbreviated  %}abbreviated{% endif %}">
    {% comment %}<div class="guide-pic {{guide}}" style="background-image: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%), url('{{ guide_pic | asset_url }}'); background-size: cover; background-repeat: no-repeat;"> </div>{% endcomment %}
    <div class="guide-pic {{guide}}" style="background-image: url('{{ guide_pic | asset_url }}'); background-size: cover; background-repeat: no-repeat;"> </div>
    <div class="guide-content">
        <div class="guide-socials">
            {% render 'guide-instagram', instagram_handle: instagram_handle %}
            {% render 'guide-500', five00px_handle: five00px_handle %}
        </div>
        <div class="guide-banner">
            <div class="guide-heading">{{guide_title}}</div>
            <h1 class="guide-header">{{guide_name}}</h1>
        </div>        
        <p class="guide-bio">{{bio}}</p>
    </div>
</div>
