{% case guide %}
    {% when 'Ryan' %}
        {%- capture guide_name -%}Ryan Dyar{%- endcapture -%}
        {%- capture instagram_handle -%}ryandyar{%- endcapture -%}
        {%- capture five00px_handle -%}bruceomori{%- endcapture -%}
        {%- capture guide_title -%}Workshop Leader{%- endcapture -%}
        {%- capture guide_pic -%}{{guide | downcase }}.jpg{%- endcapture -%}
        {%- capture bio -%}
            Ryan is a professional nature photographer hailing from the Pacific Northwest. In his 15 years of photography, his passion has been photography unique weather and light over beautiful landscapes across the world. Specializing in teaching photography, he helps tour guests with not only in-depth field technique, but also in creative and distinctive post processing.
        {%- endcapture -%}
    {% when 'Steve' %}
        {%- capture guide_name -%}Steve Saviano{%- endcapture -%}
        {%- capture instagram_handle -%}skyscape2020{%- endcapture -%}
        {%- capture five00px_handle -%}bruceomori{%- endcapture -%}
        {%- capture guide_title -%}Lead Forecaster{%- endcapture -%}
        {%- capture guide_pic -%}{{guide | downcase }}.jpg{%- endcapture -%}
        {%- capture bio -%}
            Educated in Meteorology, Chase Tour founder and lead forecaster Steve Saviano has taken his talent and education in weather and forecasting studies to become a dependable and keynote storm chaser with over a decade of storm chasing experience, documenting many historic and signature storms. His ability to place clients and himself in strategic positioning to maximize storm potential is meticulous and celebrated.
            Naturally gifted as a musician with a cerebral and passionate mind for natural weather, Mr. Saviano has earned his reputation by being accessible and a great teacher and ambassador to the meteorological world. His familiarity with the mechanics of storm movement will educate and astound you as he brings science and understanding to your storm chase experience.
            Mr. Saviano's versatility extends to his photography skills and the ability to assist you capture an amazing storm documentation for our journey through the beauty of spring and summer along the great wide open of the Great Plains.
        {%- endcapture -%}
    {% when 'Miles' %}
        {%- capture guide_name -%}Miles Morgan{%- endcapture -%}
        {%- capture instagram_handle -%}milesmorganphotography{%- endcapture -%}
        {%- capture five00px_handle -%}milesmorganphotography{%- endcapture -%}
        {%- capture guide_title -%}Workshop Leader{%- endcapture -%}
        {%- capture guide_pic -%}{{guide | downcase }}.jpg{%- endcapture -%}
        {%- capture bio -%}
            As an airline pilot, Miles has developed a strong understanding of all types of weather. That knowledge directly translates into creating some of the most unique looking imagery in world of nature photography filled with gorgeous light and fascinating weather. His charismatic personality keeps our trips light hearted and fun, but his talent behind a camera helps tour guests ensure they are making the best images possible.
        {%- endcapture -%}
    {% when 'Bruce' %}
        {%- capture guide_name -%}Bruce Omori{%- endcapture -%}
        {%- capture instagram_handle -%}bruceomori{%- endcapture -%}
        {%- capture five00px_handle -%}bruceomori{%- endcapture -%}
        {%- capture guide_title -%}Workshop Leader{%- endcapture -%}
        {%- capture guide_pic -%}{{guide | downcase }}.jpg{%- endcapture -%}
        {%- capture bio -%}
        Guest chase leader Bruce Omori, master of extreme exposure photography has created incredible documentation of Pele's eruptions on the Big Island of Hawai'i. Many of which have been featured and celebrated worldwide in media. His artistic vision has even been honored with an incredible display at the prestigious Smithsonian Museum.
        Through these images brudduh Bruce has captured, his desire is to share with you, the beauty he sees and the talent and knowledge he brings to our expeditions. His talent and vision is an asset for your chase tour. 
        E hui pu i kealapono.
        {%- endcapture -%}
    {% else %}
    <h1>Do nothing</h1>
{% endcase %}


<div class="guide-container {% if abbreviated  %}abbreviated{% endif %}">
    {% comment %}<div class="guide-pic {{guide}}" style="background-image: linear-gradient(#fff0 0%, #fff0 70%, #1d1d1d 100%), url('{{ guide_pic | asset_url }}'); background-size: cover; background-repeat: no-repeat;"> </div>{% endcomment %}
    <div class="guide-pic {{guide}}" style="background-image: url('{{ guide_pic | asset_url }}'); background-size: cover; background-repeat: no-repeat;"> </div>
    <div class="guide-content">
        <div class="guide-socials">
            {% render 'guide-instagram', instagram_handle: instagram_handle %}
            {% render 'guide-500', five00px_handle: five00px_handle %}
        </div>
        <div class="guide-banner">
            <div class="guide-heading">{{guide_title}}</div>
            <h1 class="guide-header">{{guide_name}}</h1>
        </div>        
        <p class="guide-bio">{{bio}}</p>
    </div>
</div>
