<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
{{ 'calendar.css' | asset_url | stylesheet_tag }}

<div class="shopify-section spaced-section" id="calendar-section">
  <div id="experiences" class="page-width">
    <div class="workshop-list">
      {%- for product in collection.products -%}
        {% capture coming_start %}{{product.metafields.tour_info.start_date}}{% endcapture %}
        {% capture coming_end %}{{product.metafields.tour_info.end_date}}{% endcapture %}
        {%- if product.metafields.tour_info.guides.value != blank -%}
          {% assign guide_list = product.metafields.tour_info.guides.value | split: ',' %}
        {%- endif -%}
        {% assign today_date = 'now' | date: '%s' %}
        {% assign pre_start = coming_start | date: '%s' %}
        {% assign pre_end = coming_end | date: '%s' %}

        <div class="cal-card-wrap">
          <div class="cal-card" id="tour-{{ forloop.index | plus: 1 }}">
            <div class="card-picture">
              <div class="image-wrap">
                <img
                  src="{{ product.featured_image.src | img_url: '600x' }}"
                  alt="{{ product.title }}"
                  class="cal-card-picture"
                  data-tour="{{ forloop.index | plus: 1 }}">
              </div>
            </div>
            <div class="cal-content">
              <div class="cal-card-title">{{ product.title }}{% unless product.available %}
                  <span style="color: white;">(FULL!)</span>
                {% endunless %}
              </div>

              <div class="cal-kv-wrap">
                <div class="cal-key">
                  Dates:
                </div>
                <div class="cal-value">
                  {{ pre_start | date: "%b %d" }} - {{ pre_end | date: "%b %d %Y" }}
                </div>
              </div>
              <div class="cal-kv-wrap">
                <div class="cal-key">
                  Deposit:
                </div>
                <div class="cal-value">
                  {{ product.price | money }}
                </div>
              </div>

              {% comment %} <div class="cal-key">
                                Guides:
                            </div> {% endcomment %}
              {%- if guide_list != blank -%}
                <div class="guides-wrap">
                  {%- for guide in guide_list -%}
                    {%- capture guide_pic -%}{{guide | downcase }}.jpg{%- endcapture -%}
                    <div class="guide-image-wrap">
                      <div class="guide-pic guide-image {{guide}}" style="background-image: url('{{ guide_pic | asset_url }}'); background-size: cover; background-repeat: no-repeat;"></div>
                      <div>{{ guide }}</div>
                    </div>
                  {%- endfor -%}
                </div>
              {%- else -%}
                <div>Guides TBA</div>
              {%- endif -%}
              <span class="chevrons"></span>
            </div>
            <a href="{{ product.url }}" class="overlay-link"></a>
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Collection Calendar",
    "tag": "section",
    "class": "spaced-section spaced-section--full-width",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "t:sections.image-banner.settings.image.label"
      }, {
        "type": "image_picker",
        "id": "image_map",
        "label": "t:sections.image-banner.settings.image_map.label"
      }
    ],
    "presets": [
      {
        "name": "Collection Calendar"
      }
    ]
  }
{% endschema %}