{{ 'calendar.css' | asset_url | stylesheet_tag }}

<div class="shopify-section spaced-section" id="calendar-section">
    <div class="page-width">
        {% comment %}
        <div class="cal-cta-heading">Select a Tour</div>

        <div class="calendar-container">
            <div class="product-row product-row-header">
              <div class="cal-title">Tour</div>
              <div class="cal-dates">Dates</div>
              <div class="cal-guide">Guides</div>
              <div class="cal-price">Price</div>
            </div>
            <div class="product-grid">
              {%- for product in collection.products -%}
                <a class="product-row-link" href="{{ product.url }}">
                  <div class="product-row">
                    <div class="cal-title">{{product.title}}</div>
                    <div class="cal-dates">
                      {{ product.metafields.tour_info.start_date }} - {{ product.metafields.tour_info.end_date }}
                    </div>
                    <div class="cal-guide">{{ product.metafields.tour_info.guides }}</div>
                    <div class="cal-price">{% render 'simple-price', product: product %}</div>
                  </div>
                </a>
              {%- endfor -%}
            </div>
        </div>
        {% endcomment %}

        <div id="experiences">
          <div class="section">
            <div class="section-container mod-highIndex">
              <h3 class="h-title3 experienceShow-sectionTitle mod-destination">Now Booking 2022:</h3>
              <div class="row experienceShowsList">
                <div class="workshop-flex">

                  {%- for product in collection.products -%}
                    {% capture comingdate %}{{product.metafields.tour_info.start_date}}{% endcapture %}
                    {% assign today_date = 'now' | date: '%s' %}
                    {% assign pre_date = comingdate | date: '%s' %}
                    <div class="col-sm-12 col-md-8 experienceShow">
                        <div class="experienceShow-pictureContainer" data-date="{{ pre_date | date: "%b %d" }}">
                          <div class="calendar-pic" style="background-image: url('{{ product.images[0] | img_url: '2048x' }}')"> </div>
                        </div>
                      <p class="experienceShow-title">{{ product.title }}</p>
                      <p class="experienceShow-description">
                        Each tour will have its own description which will go here.
                        {{product.description}}
                      </p>
                      <a href="{{ product.url }}" class="button button--primary calendar-button">
                        MORE INFO
                      </a>
                    </div>
                  {%- endfor -%}
      


                </div>
              </div>
            </div>
          </div>
        </div>

    </div>
</div>

{% schema %}
{
  "name": "Collection Calendar",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_map",
      "label": "t:sections.image-banner.settings.image_map.label"
    }
  ],
  "presets": [
    {
      "name": "Collection Calendar"
    }
  ]
}
{% endschema %}
