{{ 'calendar.css' | asset_url | stylesheet_tag }}

<div class="shopify-section spaced-section" id="calendar-section">
  <div class="landing-section">
    <div class="banner">
      <div class="banner-subheading">Now Booking</div>
      <div class="banner-title">2022</div>
    </div>
  </div>
  <div id="experiences" class="page-width">
    <div class="workshop-flex">
      {%- for product in collection.products -%}
        {% capture coming_start %}{{product.metafields.tour_info.start_date}}{% endcapture %}
        {% capture coming_end %}{{product.metafields.tour_info.end_date}}{% endcapture %}
        {% assign today_date = 'now' | date: '%s' %}
        {% assign pre_start = coming_start | date: '%s' %}
        {% assign pre_end = coming_end | date: '%s' %}
        <div class="col-sm-12 col-md-8 cal-card">
            <div class="cal-card-pictureContainer" style="background: url('{{ product.images[0] | img_url: '2048x' }}'); background-position: center; background-repeat: no-repeat; background-size: contain;">
            </div>
            <div class="cal-description" data-index="0{{ forloop.index }}">
              <div class="cal-card-title-heading">Tour {{ forloop.index }}</div>
              <div class="cal-card-title">{{ product.title }}</div>
              <div class="cal-date">{{ pre_start | date: "%b %d" }} - {{ pre_end | date: "%b %d" }}</div>
              <p class="cal-card-description">
                {{ product.description }}
              </p>
              <a href="{{ product.url }}" class="button button--primary calendar-button">
                Book Now
              </a>
            </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Collection Calendar",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_map",
      "label": "t:sections.image-banner.settings.image_map.label"
    }
  ],
  "presets": [
    {
      "name": "Collection Calendar"
    }
  ]
}
{% endschema %}
