<script src="{{ 'gallery.bundle.js' | asset_url }}" async="async"></script>

<style>
  .gallery-page {
    margin-top: 82px;
  }

  .pswp-grid {
    display: flex;
    flex-wrap: wrap;
  }
  .pswp-grid div {
    flex: 1;
    width: 20%;
  }
</style>

<div class="gallery-page page-width">
  <div class="pswp-gallery pswp-gallery--single-column pswp-grid" id="gallery--photoswipe-gallery">

    {% comment %} 
      <div>
          <a
              href="https://cdn.photoswipe.com/photoswipe-demo-images/photos/6/img-2500.jpg"
              data-pswp-width="2500"
              data-pswp-height="1667"
              target="_blank">
              <img src="https://cdn.photoswipe.com/photoswipe-demo-images/photos/6/img-200.jpg" alt="" />
          </a>
      </div>
    {% endcomment %}
    <div class="gallery-page page-width">
      <div class="pswp-gallery pswp-gallery--single-column pswp-grid" id="gallery--photoswipe-gallery">
        {% for block in section.blocks %}
          {% assign image = block.settings.image %}
          <div>
            <a
              href="{{ image | img_url: '2048x2048' }}"
              data-pswp-width="{{ image | img_url: 'master' | split: '_' | last | split: 'x' | first }}"
              data-pswp-height="{{ image | img_url: 'master' | split: '_' | last | split: 'x' | last | split: '.' | first }}"
              target="_blank">
              <img src="{{ image | img_url: '200x200' }}" alt="{{ block.settings.alt_text | escape }}" />
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Gallery",
    "tag": "section",
    "settings": [],
    "blocks": [
      {
        "type": "image",
        "name": "Gallery Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "Upload an image for the gallery."
          }, {
            "type": "text",
            "id": "alt_text",
            "label": "Alt Text",
            "info": "Describe the image for accessibility."
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Gallery",
        "category": "Gallery"
      }
    ]
  }
{% endschema %}