<script src="{{ 'gallery.bundle.js' | asset_url }}" async="async"></script>

<style>
  .gallery-page {
    margin-top: 82px;
  }

  .pswp-grid {
    display: flex;
    flex-wrap: wrap;
  }
  .pswp-grid div {
    flex: 1;
    width: 20%;
  }
</style>

<div class="gallery-page page-width">
  <div class="pswp-gallery pswp-gallery--single-column pswp-grid" id="gallery--photoswipe-gallery">
    {% comment %} This hard coded div w/ image will be replaced with dynamic content chosen by the user from the schema below {% endcomment %}
    {% comment %} <div>
            <a
              href="https://cdn.photoswipe.com/photoswipe-demo-images/photos/6/img-2500.jpg"
              data-pswp-width="2500"
              data-pswp-height="1667"
              target="_blank">
              <img src="https://cdn.photoswipe.com/photoswipe-demo-images/photos/6/img-200.jpg" alt="" />
            </a>
        </div> {% endcomment %}
    <div class="gallery-page page-width">
      <div class="pswp-gallery pswp-gallery--single-column pswp-grid" id="gallery--photoswipe-gallery">
        {% for block in section.blocks %}
          <div>
            <a
              href="{{ block.settings.large_image_url }}"
              data-pswp-width="{{ block.settings.width }}"
              data-pswp-height="{{ block.settings.height }}"
              target="_blank">
              <img src="{{ block.settings.image }}" alt="{{ block.settings.alt_text | escape }}" />
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Gallery",
    "tag": "section",
    "settings": [],
    "blocks": [
      {
        "type": "image",
        "name": "Gallery Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "Select an image to display in the gallery."
          },
          {
            "type": "text",
            "id": "alt_text",
            "label": "Alt Text",
            "info": "Describe the image for accessibility."
          },
          {
            "type": "text",
            "id": "large_image_url",
            "label": "Large Image URL",
            "info": "Provide the URL of the large image to open in the lightbox."
          },
          {
            "type": "number",
            "id": "width",
            "label": "Width",
            "default": 2500
          }, {
            "type": "number",
            "id": "height",
            "label": "Height",
            "default": 1667
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Gallery",
        "category": "Gallery"
      }
    ]
  }
{% endschema %}