<script src="{{ 'wgl-banner.bundle.js' | asset_url }}" async="async"></script>

{%- if section.settings.image != blank -%}
    <div class="frame">
        <div id="main-scroll-indicator" style="opacity: 1;"> 
            <div id="main-scroll-indicator-text">Scroll to see more</div> 
            <div id="main-scroll-indicator-arrow-container">
                <svg xmlns="http://www.w3.org/2000/svg" width="5" fill="#fff" height="40" viewBox="0 0 5 40"><title>Vector Smart Object</title><path d="M0,40V0H1V35H5Z"></path></svg>
            </div>
        </div>				
        <div 
            id="gl" 
            data-imageOriginal="{{ section.settings.image | img_url: '2000x' }}" 
            data-imageDepth="{{ section.settings.image_map | img_url: '2000x' }}" 
            data-horizontalThreshold="15" 
            data-verticalThreshold="25">
        </div>
        <div class="frame__content">
            <div class="brand-title">SKYSCAPE</div>
            <div class="frame__sub-content">PHOTO TOURS</div>
            <div class="primary primary-cta btn">
              <div class="primary-cta-text"><a id="cta-link" href="{{section.settings.button_link}}">{{section.settings.button_label}}</a></div>
            </div>
        </div>
    </div>
{%- endif -%}


{% schema %}
{
  "name": "WebGL Image Banner",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_map",
      "label": "t:sections.image-banner.settings.image_map.label"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "Button label",
      "label": "Button Label",
      "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    }
  ],
  "presets": [
    {
      "name": "WebGL Image Banner"
    }
  ]
}
{% endschema %}
